/Moby/
/Roby/
/output_nii/
/output_raw/
/.vscode/
**/__pycache__/
**/*.py[cod]

*.nrb
*.zip
*.cfg
*.dat
*.nii.gz
*.vtk
*.log
*.npy
*.gif
*.png


dxcat2
dxcat2_linux_64bit
# pixi environments
.pixi/*
!.pixi/config.toml
